.row {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 300px;
}


.movies_row {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

.movies {
    width: 100%;
    object-fit: contain;
    height: 200px;
    transition: 400ms;
    animation: slide 10s linear infinite;
    padding: 5px;
    border-radius: 15px;
}


.movies:hover {
    transform: scale(1.2);
}

.movies_row::-webkit-scrollbar {
    display: none;
}

